# Force GitHub Linguist language detection
*.html linguist-language=HTML linguist-detectable=true
*.js linguist-language=JavaScript linguist-detectable=true
*.css linguist-language=CSS linguist-detectable=true
assets/** linguist-vendored=false
